PerformanceComparison/schemas/aircraft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Chris (private) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="aircraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="details" />
        <xs:element ref="performance" />
      </xs:sequence>
    </xs:complexType>
    <xs:key name="aircraftKey1">
      <xs:selector xpath="." />
      <xs:field xpath="details/type" />
    </xs:key>
  </xs:element>
  <xs:element name="altitude">
    <xs:simpleType>
      <xs:restriction base="xs:short" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="climb">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmeasure" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="wep" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="off" />
            <xs:enumeration value="on" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="altUnit" type="xs:string" use="required" />
      <xs:attribute name="rateUnit" type="xs:string" use="required" />
      <xs:attribute name="altFactor" type="xs:float" use="optional" default="1.0" />
      <xs:attribute name="rateFactor" type="xs:float" use="optional" default="1.0" />
      <xs:attribute name="altOffset" type="xs:short" use="optional" default="0" />
      <xs:attribute name="rateOffset" type="xs:short" use="optional" default="0" />
    </xs:complexType>
  </xs:element>
  <xs:element name="details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="type" />
        <xs:element ref="fuel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fuel">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:byte">
          <xs:attribute name="unit" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="smeasure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="altitude" />
        <xs:element ref="tas" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="performance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="speed" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="climb" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="turn" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="turnData" />
              <xs:element ref="turnData" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rate">
    <xs:simpleType>
      <xs:restriction base="xs:short" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="speed">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="smeasure" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="wep" type="xs:string" use="required" />
      <xs:attribute name="altUnit" type="xs:string" use="required" />
      <xs:attribute name="tasUnit" type="xs:string" use="required" />
      <xs:attribute name="altFactor" type="xs:float" use="optional" default="1.0" />
      <xs:attribute name="tasFactor" type="xs:float" use="optional" default="1.0" />
      <xs:attribute name="altOffset" type="xs:short" use="optional" default="0" />
      <xs:attribute name="tasOffset" type="xs:short" use="optional" default="0" />
    </xs:complexType>
  </xs:element>
  <xs:element name="tas">
    <xs:simpleType>
      <xs:restriction base="xs:short" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="type" type="xs:string" />
  <xs:element name="cmeasure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="altitude" />
        <xs:element ref="rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="turnData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sustainedTurnRadius" type="xs:float" />
        <xs:element name="sustainedTurnRate" type="xs:float" />
        <xs:element name="speed" type="xs:float" />
        <xs:element name="time" type="xs:float" />
        <xs:element name="stallSpeed" type="xs:float" />
        <xs:element name="cornerVelocity" type="xs:float" />
        <xs:element name="turnRateAtCorner" type="xs:float" />
        <xs:element name="turnRadiusAtCorner" type="xs:float" />
      </xs:sequence>
      <xs:attribute name="flapPosition" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>